body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
html,body {
    margin:0;
    padding:0;
}

body {
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color:#eee;
	margin: 0 !important;
    padding: 0 !important;
}
header {
	margin-left: auto;
	margin-right:auto;
	width:500px;
	text-align: center;
	margin-bottom:50px;
}
header h1 {
	font-size:40px;
	padding:30px;
}
nav {
	margin:10px;
}
nav li {
	display:inline-block;
}
nav a {
	color:black;
	text-decoration:none;
	padding:10px;
	margin:5px;
	padding-left: 8px;
	padding-right: 8px;
}
nav a:hover {
	color:black;
	text-decoration:underline;
	background-color:#eee;
}
nav li:hover {
}
nav ul {
	margin-left: -40px;
}
.main {
	width:933px;
	background-color: white;
	margin-left: auto;
	margin-right:auto;
	padding: 0px;
	min-height: 800px;
}
